<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Signup Form</h1>
                    <h5>Get Free Membership...!!</h5><hr style="color: orange;">
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="singUp()">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input formControlName="name" placeholder="Enter Name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input formControlName="mobile" placeholder="Enter Mobile Number" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email ID</label>
                        <input formControlName="email" placeholder="Enter email Id" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input formControlName="password" placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-success">Signup</button>
                </form>
                <a routerLink="/login">Already Member ? Click To Login !</a>
            </div>
        </div>
    </div>
</div>